.text-height{
  height: 100vh;
  margin-left: 20px;
  margin-right: 20px;
}

.text-height p {
  justify-content: center;
}

@media (max-width: 768px) {
  h3 {
  font-size: small;
  }
  p {
  font-size: smaller;
  justify-content: center;
  }
}
