/* Couleurs et typographie */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #05034f;
  background-image: url('../public/images/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #05034F;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  text-align: justify;
  /*color: #555;*/
}

/* Mise en page des images et du texte */
.art-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px; /* Espace entre chaque élément */
  padding: 16px 16px; 
}

.art-image {
  max-width: 400px; /* Ajuste selon la taille souhaitée pour tes images */
  width: 100%;
  height: auto;
  border-radius: 25px; /* Coins arrondis pour un effet plus doux */
  margin-right: 55px; /* Espace entre l'image et le texte */

}


.art-description {
  max-width: 600px; /* Limite la largeur du texte pour une meilleure lisibilité */
}

.art-description h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
  font-family: 'Raleway', sans-serif;

}

.art-description p {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #05034F;

}

/* Responsivité */
/* Pour les tablettes (écrans entre 600px et 768px) */
@media (max-width: 768px) {
  .art-item {
    flex-direction: column; /* Affiche l'image et le texte en colonne */
    align-items: center; /* Centre les éléments */
    text-align: center; /* Centre le texte */
  }

  .art-image {
    width: 80%; /* Ajuste la taille de l'image pour qu'elle prenne 80% de la largeur */
    margin-right: 0; /* Supprime la marge droite pour centrer l'image */
    margin-bottom: 16px; /* Ajoute de l'espace sous l'image */
  }

  .art-description {
    max-width: 90%; /* Ajuste la largeur du texte pour qu'il ne soit pas trop large */
  }
}

/* Pour les mobiles (écrans de moins de 600px) */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem; /* Ajuste la taille des titres pour les petits écrans */
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .art-image {
    width: 90%; /* L'image prend toute la largeur de l'écran */
  }

  .art-description {
    padding: 0 10px; /* Ajoute un peu de padding pour que le texte ne touche pas les bords */
  }
}
